# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Libraries
import math 
import matplotlib.pyplot as plt # viz
import scipy.stats as sts # stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
pokemon.groupby('Legendary')['Total'].agg(['mean', 'std'])

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

# filter legendary and non-legendary poekmons
legend = pokemon[pokemon["Legendary"] == True]
non_legend = pokemon[pokemon["Legendary"] == False]

# perform two-sample t-test for independent samples
t_stat, p_value = sts.ttest_ind(legend['Total'], non_legend['Total'], equal_var=False)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

Test Statistic (t): 25.83
P-Value: 0.00000000000000000000000000000000000000000000009358

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:

# a very low p-value means that we can reject H0 (no difference between groups)
# magnitude of t-statistic shows that the difference between  the 2 groups is large relative to variability within each group

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
pokemon.groupby('Type 1').count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
df_mean_std = pokemon.groupby('Type 1')['Total'].agg(['mean', 'std'])
water = df_mean_std.loc[['Water']]

non_water = df_mean_std.drop('Water', axis=0)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:

# perform two-sample t-test for independent samples
t_stat, p_value = sts.ttest_ind(water['mean'], non_water['mean'], equal_var=True)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.2f}")

Test Statistic (t): -0.31
P-Value: 0.76

Write your conclusion below.

In [11]:
# Your conclusions here:
# negative magnitude of t-statistic suggests that water pokemons total mean is lower than all non-water pokemons total points mean
# p-value > 0.05 suggesting that null hypothesis cannot be rejected

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
from scipy.stats import ttest_rel


t_stat, p_value = sts.ttest_rel(pokemon['Attack'], pokemon['Defense'])
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")

Test Statistic (t): 4.33
P-Value: 0.000017

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:
# positive t-test shows that mean of Attack is greater than mean of defense, and 4,33 magnitude suggests that the difference is large relative to the variability of the data
# p-value is very small, meaning that null hypothesis can be rejected

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:

t_stat, p_value = sts.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")

Test Statistic (t): 0.85
P-Value: 0.393369

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:
# positive value of t-test meaning the mean of special attack is greater than mean of special defense, 0.85 magnitude is quite small suggesting the difference is small relative to the variability 
# p-value > 0.05 suggesting that null hypothesis cannot be rejected

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [20]:
# Your code here:
from scipy.stats import ttest_1samp

pokemon['Atk_Def_Diff'] = pokemon['Attack'] - pokemon['Defense']

t_stat, p_value = sts.ttest_1samp(pokemon['Atk_Def_Diff'], 0)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")

# confirmed

Test Statistic (t): 4.33
P-Value: 0.000017

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: